<div id="graph" style="margin:auto;display: block;">


</div>
<script src="https://d3js.org/d3.v4.0.0-alpha.44.min.js"></script>
<script src="http://vizjs.org/viz.v1.0.0.min.js"></script>
<script>
    var data= <?php echo $this->data; ?>
    var color = <?php echo $this->color; ?>
    var svg = d3.select("#graph").append("svg").attr("width", 960).attr("height", 6600);

    svg.append("text").attr("x",450).attr("y",70)
        .attr("class","header").text("Your Train Connection");

    var g =[svg.append("g").attr("transform","translate(350,100)")];

    var bp=[ viz.bP()
        .data(data)
        .min(12)
        .pad(1)
        .height(600)
        .width(200)
        .barSize(35)
        .fill(d=>color[d.primary])
        ,viz.bP()
            .data(data)
            .value(d=>d[3])
        .min(12)
            .pad(1)
            .height(600)
            .width(200)
            .barSize(35)
            .fill(d=>color[d.primary])
        ];

    [0,1].forEach(function(i){
        g[i].call(bp[i])

        g[i].append("text").attr("x",-50).attr("y",-8).style("text-anchor","middle").text("Network Status");
        g[i].append("text").attr("x", 250).attr("y",-8).style("text-anchor","middle").text("Track Part");

        g[i].append("line").attr("x1",-100).attr("x2",0);
        g[i].append("line").attr("x1",200).attr("x2",300);

        g[i].append("line").attr("y1",610).attr("y2",610).attr("x1",-100).attr("x2",0);
        g[i].append("line").attr("y1",610).attr("y2",610).attr("x1",200).attr("x2",300);

        g[i].selectAll(".mainBars")
            .on("mouseover",mouseover)
            .on("mouseout",mouseout);

        g[i].selectAll(".mainBars").append("text").attr("class","label")
            .attr("x",d=>(d.part=="primary"? -30: 30))
        .attr("y",d=>+6)
        .text(d=>d.key)
        .attr("text-anchor",d=>(d.part=="primary"? "end": "start"));

        g[i].selectAll(".mainBars").append("text").attr("class","perc")
            .attr("x",d=>(d.part=="primary"? -100: 80))
        .attr("y",d=>+6)
        .text(function(d){ return d3.format("0.0%")(d.percent)})
            .attr("text-anchor",d=>(d.part=="primary"? "end": "start"));
    });

    function mouseover(d){
        [0,1].forEach(function(i){
            bp[i].mouseover(d);

            g[i].selectAll(".mainBars").select(".perc")
                .text(function(d){ return d3.format("0.0%")(d.percent)});
        });
    }
    function mouseout(d){
        [0,1].forEach(function(i){
            bp[i].mouseout(d);

            g[i].selectAll(".mainBars").select(".perc")
                .text(function(d){ return d3.format("0.0%")(d.percent)});
        });
    }

    d3.select(self.frameElement).style("height", "2000px");

</script>