<?php echo $this->doctype(); ?>
<html>
    <head>
            <!--Import Google Icon Font-->
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="<?php echo $this->basePath('css/materialize.min.css'); ?>"  media="screen,projection"/>

            <!--Let browser know website is optimized for mobile-->
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <style>
                text{
                    font-size:12px;
                }
                .mainBars rect{
                    shape-rendering: auto;
                    fill-opacity: 0;
                    stroke-width: 0.5px;
                    stroke: rgb(0, 0, 0);
                    stroke-opacity: 0;
                }
                .subBars{
                    shape-rendering:crispEdges;
                }
                .edges{
                    stroke:none;
                    fill-opacity:0.5;
                }
                .header{
                    text-anchor:middle;
                    font-size:16px;
                }
                line{
                    stroke:grey;
                }
            </style>
    </head>
    <body>
            <nav class="light-blue lighten-1" role="navigation">
                <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">DB #WorkTime</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </nav>

            <div class="container" id="container">
                <?php echo $this->content; ?>
            </div>

            <footer class="page-footer orange">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">About Us</h5>
                            <p class="grey-text text-lighten-4">We are a team of enthusiast students working on this project to push working on german railway system. We collect data about network connectivity and stick them together to find out where you get work and when you have to do a break because network stability is almost not the best in this track part.</p>


                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Legal</h5>
                            <ul>
                                <li><a class="white-text" href="#!">Imprint</a></li>
                                <li><a class="white-text" href="#!">Privacy Police</a></li>
                            </ul>
                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Connect</h5>
                            <ul>
                                <li><a class="white-text" href="#!">Facebook</a></li>
                                <li><a class="white-text" href="#!">Twitter</a></li>
                                <li><a class="white-text" href="#!">Google Plus</a></li>
                                <li><a class="white-text" href="#!">E-Mail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-copyright">
                    <div class="container">
                        Created with love in Berlin #DBMinbox
                    </div>
                </div>
            </footer>

            <!--Import jQuery before materialize.js-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="<?php echo $this->basePath('js/materialize.min.js'); ?>"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <script>

                var availableTags = [];

                fetch('/api/backend/railways/get/nodes').then(function(response) {
                    var contentType = response.headers.get("content-type");
                    if(contentType && contentType.indexOf("application/json") !== -1) {
                        return response.json().then(function(json) {
                            for (i = 0; i < json.stations.length; i++) {
                                availableTags[i] = json.stations[i].name;
                            }
                        });
                    } else {
                        console.log("Oops, we haven't got JSON!");
                    }
                });

                $(function() {
                    $( "#target" ).autocomplete({
                        source: availableTags
                    });
                    $( "#start" ).autocomplete({
                        source: availableTags
                    });
                });
            </script>
    </body>
</html>

